 <h1 class="titulos" ><span style="color:  #007FFF; font-size: 100%" ><%= @mensaje %></span> <span style="color:cornflowerblue; font-size: 50%" ><%= @user.correo %></span> </h1>
<%= render 'form' %>

<%= link_to 'Back', user_comentarios_path %>
